@if (Seaweed is not null)
{
    <EditForm Model="@Seaweed" OnValidSubmit="@HandleValidSubmit"
          OnInvalidSubmit="@HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="NameCommon" class="form-label">Common Name</label>
            <InputText id="NameCommon" class="form-control"
                   @bind-Value="Seaweed.NameCommon"></InputText>
            <ValidationMessage For="() => Seaweed.NameCommon" />
        </div>

        <div class="mb-3">
            <label for="NameLatin" class="form-label">Latin Name</label>
            <InputText id="NameLatin" class="form-control"
                   @bind-Value="Seaweed.NameLatin"></InputText>
            <ValidationMessage For="() => Seaweed.NameLatin" />
        </div>

        <div class="mb-3">
            <label for="class" class="form-label">Class</label>
            <InputSelect id="class" class="form-select"
                     @bind-Value="Seaweed.SeaweedClassId">
                @if (SeaweedClasses is not null)
                {
                    @foreach (var seaweedClass in SeaweedClasses)
                    {
                        <option value="@seaweedClass.Id">@seaweedClass.NameCommon</option>
                    }

                }
            </InputSelect>
        </div>

        <div class="mb-3">
            <label for="isNative" class="form-label">Native</label>
            <InputCheckbox id="isNative" class="form-check-input"
                       @bind-Value="Seaweed.Native"></InputCheckbox>
        </div>

        @if(IsEdit)
        {
            <button type="submit" class="btn btn-primary" disabled="@IsBusy">Update</button>
            <button type="button" class="btn btn-secondary"
            @onclick="HandleCancel" disabled="@IsBusy">Cancel</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary" disabled="@IsBusy">Add</button>
        }

        
    </EditForm>
}

@code {
    [Parameter]
    public Seaweed? Seaweed { get; set; }
    [Parameter]
    public SeaweedClass[]? SeaweedClasses { get; set; }
    [Parameter]
    public bool IsBusy { get; set; }
    [Parameter]
    public bool IsEdit { get; set; }
    [Parameter]
    public EventCallback OnCancel { get; set; }
    [Parameter]
    public EventCallback<bool> OnSubmit { get; set; }

    private async Task HandleValidSubmit()
    {
        if(OnSubmit.HasDelegate)
        {
            await OnSubmit.InvokeAsync(true);
        }
    }

    private async Task HandleInvalidSubmit()
    {
        if (OnSubmit.HasDelegate)
        {
            await OnSubmit.InvokeAsync(false);
        }
    }

    private async Task HandleCancel()
    {
        if(OnCancel.HasDelegate)
        {
            await OnCancel.InvokeAsync();
        }
    }


}
