@page "/seaweed/add"
@inject IDbContextFactory<SeaweedDbContext> ContextFactory

<PageTitle>Add Seaweed</PageTitle>

<h1>Add Seaweed</h1>

<SeaweedForm 
    Seaweed="@Seaweed"
    SeaweedClasses="@SeaweedClasses"
    IsBusy ="@IsBusy"
    OnSubmit="@HandleSubmit"/>

@if (SuccessMessage is not null)
{
    <br />
    <div class="alert alert-success">@SuccessMessage</div>
}
@if (ErrorMessage is not null)
{
    <br />
    <div class="alert alert-danger">@ErrorMessage</div>
}

@code {
    private Seaweed? Seaweed { get; set; }

    private SeaweedClass[]? SeaweedClasses { get; set; }

    private bool IsBusy { get; set; }

    private string? SuccessMessage { get; set; }
    private string? ErrorMessage { get; set; }



    protected override async Task OnInitializedAsync()
    {
        using var context = ContextFactory.CreateDbContext();

        SeaweedClasses = await context.SeaweedClass
                                .OrderBy(c => c.NameCommon)
                                .ToArrayAsync();

        Seaweed = new()
        {
                SeaweedClassId = SeaweedClasses.FirstOrDefault()?.Id
        };

    }

    private async Task HandleSubmit(bool isValid)
    {
        if (isValid)
            await HandleValidSubmit();
        else
            HandleInvalidSubmit();
    }

    private async Task HandleValidSubmit()
    {
        if(IsBusy)
        {
            return;
        }

        IsBusy = true;

        try
        {
            if (Seaweed is not null)
            {
                using var context = ContextFactory.CreateDbContext();

                context.Seaweed.Add(Seaweed);
                await context.SaveChangesAsync();

                SuccessMessage = $"Seaweed: {Seaweed.NameCommon} was added successfully.";
                ErrorMessage = null;

                // New Seaweed for next creation
                Seaweed = new()
                {
                        SeaweedClassId = Seaweed.SeaweedClassId
                };
            }
        }
        catch (Exception e)
        {
            SuccessMessage = null;
            ErrorMessage = $"Error while adding seaweed. Error message: {e.Message}";
        }
        finally
        {
            IsBusy = false;
        }
    }

    private void HandleInvalidSubmit()
    {
        SuccessMessage = null;
        ErrorMessage = null;
    }
}
